body {
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  font-family: 'Mountains of Christmas', cursive;
  height: 100vh;
  overflow: hidden;
}

.moon {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  background: #f6f1d5;
  border-radius: 50%;
  box-shadow: 0 0 20px #f6f1d5, 0 0 40px #f6f1d5, 0 0 80px #f6f1d5;
  z-index: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 2;
}

.shooting-star {
  position: absolute;
  top: 0;
  left: -120px;
  width: 120px;
  height: 2px;
  background: url(https://raw.githubusercontent.com/farazc60/Project-Images/refs/heads/main/christmas/shooting-star.png) center center no-repeat;
  background-size: 100% 100%;
  transform: rotate(20deg);
  animation: 10s falling-star 0.2s infinite;
}

@keyframes falling-star {
  0% {
    transform: translate3d(0, 0, 0) rotate(10deg);
    opacity: 1;
  }
  25%, 100% {
    transform: translate3d(100vw, 30vh, 0) rotate(10deg);
    opacity: 0;
  }
}

.tree {
  position: absolute;
  bottom: 10px;
  width: 50%;
  max-width: 400px;
  height: auto;
  z-index: 1;
}

.snow-hill {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.wish {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff3333, 0 0 30px #ff6666;
  animation: sparkle 3s infinite ease-in-out;
  z-index: 4;
  cursor: default;
  transition: transform 0.3s ease;
}

.wish:hover {
    transform: scale(1.1) rotate(-2deg);
    text-shadow: 0 0 15px #ffcc00, 0 0 30px #ff9900, 0 0 45px #ff6600;
}

@keyframes sparkle {
  0%, 100% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff3333, 0 0 20px #ff6666;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900, 0 0 30px #ff6600;
    transform: scale(1.1);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}